html 
    head
        style
            include ../node_modules/bootstrap/dist/css/bootstrap.min.css
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        title PasswordManager - Reset password 
    body
        section(class="section mt-5")
            div(class="container")
                div(class="row")
                    div(class="col-xs-8 col-md-8 mx-auto align-self-center")
                        h1 PasswordManager - Reset password
                        br
                        hr
                        div(class="alert alert-danger" role="alert")
                            p Error! You pressed an invalid reset link