html 
    head
        style
            include ../node_modules/bootstrap/dist/css/bootstrap.min.css
        script(src='../node_modules/bootstrap/dist/js/bootstrap.min.js')
        title PasswordManager - Reset password 
    body
        block content