extends layout.pug 

block content
    section(class="section mt-5")
        div(class="container")
            div(class="row")
                div(class="col-xs-8 col-md-8 mx-auto align-self-center")
                    h1 PasswordManager - Reset password
                    br
                    hr
                    div(class="alert alert-success" role="alert")
                        p Successfully changed password for user #{email}