extends layout.pug 

block content
    section(class="section mt-5")
        div(class="container")
            div(class="row")
                div(class="col-xs-8 col-md-8 mx-auto align-self-center")
                    h1 PasswordManager
                    hr
                    div(class="m-3")
                        p Welcome to the web ui for the PasswordManager project. Right now there is not a lot to see here, but if you come back later we might have something nice to show you. 
                        br
                        p Have a good day!